body {
    font-size: 110%;
    background-color:lightskyblue;
}

h1 {
    text-align: center;
}

h2{
    text-align: left;
}
.container {
    margin: auto;
    width: 35%;
}

/* the entire form */

form {
    background-color: lightskyblue;
    color: black; 
    margin: auto;
    position: relative;
}

/* makes the boxes shift to next line */

.form_label {
    display: block;
}

/* error messages */

.error {
    color: red;
}

/* submit button */

.submit { 
    width: auto;
    background-color: blueviolet;
    border: 0;
    color: #FFFFFF; 
    text-transform: uppercase;
}

nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav #user-account {
    float: right;
}